*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
ul,
a {
  margin: 0;
  text-decoration: none;
}

.container {
  padding: 2rem 0;
  height: 100%;
}

.heading {
  text-align: center;

  h1 {
    padding: 1rem 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
  }

  hr {
    border: none;
    width: 20%;
    height: 3px;
    margin: 0 auto;
    background-color: black;
  }

  p {
    padding: 1.5rem 0 1rem 0;
    width: 60%;
    margin: 0 auto;
    font-size: 0.8rem;
  }

  button {
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

hr {
  border: none;
  width: 90%;
  height: 3px;
  background-color: black;
  margin: 2rem auto;
  border-radius: 50px;
}

.main-colors {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .box {
    border-radius: 8px;
    padding: 0.75rem;
    margin: 1rem 1.2rem;
    background-color: rgb(245, 245, 245);
    box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.2);

    .color {
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
  }
}
